@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="titolo text-center">
        <h1 class="display-4">Benvenuto nel Botteghino</h1>
        <p class="lead">Il tuo negozio online per calzature di alta qualità.</p>
        <p>Scopri la nostra vasta collezione di scarpe o aggiungi il tuo prodotto unico.</p>
        <hr class="my-4">
       
    </div>
    <div class="sottotitolo">
        <div class="row mt-5 pt-5 px-4 text-center">
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100 bg-dark text-white">
                    <div class="card-body">
                        <h2 class="card-title">Qualità Superiore</h2>
                        <p class="card-text">Selezioniamo solo le migliori marche e materiali per garantire che ogni paio di scarpe sia duraturo e confortevole.</p>
                        <a class="btn btn-secondary btn-secondary-gradient" href="#">Scopri di più »</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100 bg-dark text-white">
                    <div class="card-body">
                        <h2 class="card-title">Prezzi Competitivi</h2>
                        <p class="card-text">Offerte speciali e prezzi imbattibili su una vasta gamma di prodotti. Non perdere l'occasione di risparmiare!</p>
                        <a class="btn btn-secondary btn-secondary-gradient" href="#">Scopri di più »</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100 bg-dark text-white">
                    <div class="card-body">
                        <h2 class="card-title">Assistenza Clienti</h2>
                        <p class="card-text">Il nostro team è sempre pronto ad aiutarti! Contatta il nostro servizio clienti per qualsiasi domanda o esigenza.</p>
                        <a class="btn btn-secondary btn-secondary-gradient" href="#">Contattaci »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

