<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] s2__l5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/s2__l5.styles.css" asp-append-version="true" />
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        footer {
            background-color: #343a40;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container content">
        <header class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-bottom">
            <a href="~/Home/Index" class="d-flex align-items-center mb-3 mb-md-0 text-decoration-none">
                <img src="~/immagini/logo.png" class="bi me-2" width="80" height="80" alt="Il Botteghino Logo">
                <span class="fs-1 text-warning fw-bold">Il Botteghino</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link text-white bg-primary bg-opacity-75" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white bg-primary bg-opacity-75" asp-area="" asp-controller="Home" asp-action="Articoli">Articoli</a></li>
                <li class="nav-item"><a class="nav-link text-white bg-primary bg-opacity-75" asp-area="" asp-controller="Home" asp-action="CreaArticoli">Crea Articoli</a></li>
            </ul>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="py-3 mt-auto">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
        <p class="text-center">© 2025 Il Botteghino</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>